body{
    background-image: url('../img/stonehaven.png')
}

.jumbotron{
    background-color: hsl(34, 100%, 57%);
    color: white;
}

.panel-heading{
    background-color: hsl(34, 100%, 57%) !important;
    color: white !important;
}

.panel-body{
    color: #2b2b2b !important;
}

.navbar{
    background-color: #2b2b2b
}

.navbar-brand:link, .navbar-brand:visited{
    color: hsl(34, 100%, 57%) !important;
}

.navbar-brand:hover, .navbar-brand:active{
    color : white !important;
}

#navbar li a:link, #navbar li a:visited{
color: white !important;
}

#navbar li a:hover, #navbar li a:active{
    color:  hsl(34, 100%, 57%) !important;
}

.dropdown-menu{
    background-color: #2b2b2b;
}

.open > a {
    background-color: #2b2b2b !important;
}

.btn-primary{
    background-color: deepskyblue !important;
    border:none;

}

.btn-primary:hover{
    background-color: #2b2b2b !important;
}

.contenido-articulos{
    background-color: white ;
    padding: 2em; 
}

.sidebar{
    background-color: white; 

}

.sidebar, .gg-elemento{
    padding-top: 1em;
    padding-bottom: 1em;
}

.gg-elemento:hover{
    background-color: #2b2b2b !important;
    color:orange;
}

.gg-elemento{
    color: white;
}

#gg-entradas{
    background-color: deepskyblue;
}

#gg-comentarios{
    background-color: #029ac4;
}

#gg-favoritos{
    background-color: #394a66;
}

.parte-gestor-entradas{
    background-color: deepskyblue;
    color: white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #029ac4;
}

.table-striped>tbody>tr>td{
    border: none;
}

.table>thead>tr>th{
    border: none !important;
}

tbody:before{
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

#boton-nueva-entrada{
    background-color:#029ac4 !important;
}

#boton-nueva-entrada:hover{
    background-color: #2b2b2b !important;
}

.form-nueva-entrada{
    background-color: white;
    padding: 2em;
}